/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.Label{
    color: white;
}

.timerBorder {
    border-color: #000000;
    border-style: solid;
    border-thickness: 1;
}

.timeEditStyle {
    font-Size: 14;
    fontWeight: bold;
    fontFamily: 'Times new roman';
    color: white;
}

.timeStyle {
    font-Size: 24;
    fontWeight: bold;
    color: #FFFFFF;
    fontFamily: 'Times new roman';
    fontAntiAliasType: advanced;
}

.boxStyle{
    backgroundGradientColors: aqua #faebd7;
}

.dropdown{
    color:white;
}

.list{
    backgroundAlpha: 0;
    backgroundColor: #000000;
}

s|List s|HScrollBar {
    skinClass: ClassReference("views.skins.scroll.VScrollSkin");
    overSkin: ClassReference("views.skins.scroll.VScrollSkin");
}

mx|ToolTip {
    backgroundAlpha: 1.0;
    backgroundColor: #6c6b6b;
    borderThickness: 1;
    borderColor: #262626;
    borderStyle: solid;
    color: white;
    cornerRadius: 5;
    fontSize: 10;
}